BasedOnStyle: Mozilla
Language: Cpp
Standard: c++17
Cpp11BracedListStyle: AlignFirstComment
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
FixNamespaceComments: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true
